/* progressbar.css */

.skill-progress-container {
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .CircularProgressbar-text {
    text-anchor: middle;
    dominant-baseline: central;
    font-size: 14px;
    stroke: none;
    fill: white;
    font-family: var(--font-family);
  }

  
  
  .name-skill{
    font-family: var(--font-family);
  color: white;
  font-size: 18px;
  position: absolute; /* Posiciona o texto absolutamente em relação ao contêiner */
  top: 107%; /* Ajuste essa propriedade para definir a distância vertical do texto em relação à barra */
  left: 50%; /* Centraliza horizontalmente o texto */
  transform: translateX(-50%); /* Centraliza horizontalmente o texto */
   
    

  }

  