.container {
  width: 100%;
  height: auto;
  background: linear-gradient(163deg, rgba(12,27,51,1) 0%, rgba(9,9,121,1) 50%, rgba(122,48,108,1) 100%);
  display: flex;
  flex-direction: column;
  }

  .flex-row{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Define o tamanho das colunas e a quebra para a próxima linha */
  
  justify-content: center; /* Centraliza os itens horizontalmente */

  }

  .header-content{
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
    margin-top: 2rem;
  }

  .content h1{
    font-family: var(--font-family);
    color: white;
    font-size: 50px;
  }

 
  .line-about{
    font-family: var(--font-family);
    color: white;
    margin-top: -0.5rem;

  }

  .button-about{
    width: 150px;
    height: 45px;
    font-size: 19px;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
    background-color: rgba(122,48,108,1);
    color: white;
    font-family: var(--font-family);
    font-weight: bold;
    border: 2px solid white;
  }

  .button-contact{
    width: 150px;
    height: 45px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 19px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    color: white;
  }


  .digitando-effect {
    width: fit-content;
    animation: digitando 1.5s infinite;
  }



/*
/*MODELO 1*/
.custom-shape-divider-top-1690236305 {
    margin-bottom: 0.05rem;
    margin-left: 8rem;
    margin-right: 2rem;
    box-sizing: border-box;
    height: 600px;
    z-index: 997;
    animation: fadeInFromBottom 1s ease-in-out;
    display: flex;
}

.animation{
  animation: fadeInFromBottom 1s ease-in-out;
}

.photo-frame {
  position: absolute;
  width: 450px;
  height: 600px;
  border: 1px solid rgb(255, 255, 255, 0.6); /* Espessura da moldura branca */
   /* Removendo a parte de baixo da moldura */
   border-bottom: none;
  background-color: transparent; /* Cor da moldura branca */
  overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse os limites da moldura */
  display: flex;
}

.photo-frame img {
  position: absolute;
  left: -19%;
  top: -27%;
  width: 610px;
  height: 940px;

 /* Faz a foto preencher todo o espaço da moldura mantendo a proporção */
  
}

.logo-container {
  position: absolute;
  width: 50px; /* Tamanho da área para cada logomarca */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 4px solid rgb(136, 85, 139, 0.8);
  border-radius: 50%;
}

.top-left {
  top: 20px;
  left: 60px;
}

.bottom-left {
  top: 100px;
  left: 20px;
}

.top-right {
  top: 20px;
  right: 100px;
}

.bottom-right {
  top: 100px;
  right: 30px;
}
.custom-shape-divider-bottom-1690471646 {
  z-index: 996;
  position: relative;


  width: 100%;

}

.custom-shape-divider-bottom-1690471646 svg {
  position: absolute;
  bottom: 0;
  display: block;
  width: calc(129% + 1.3px);
  height: 150px;
}




  @keyframes digitando {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fadeInFromBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media screen and (max-width: 1190px){

    .custom-shape-divider-top-1690236305{
      margin-left: 2rem;
    }
}


@media screen and (max-width: 1100px){

  .flex-row{
    grid-template-columns: 1fr;
  }
  .custom-shape-divider-top-1690236305{
    margin-left: 8rem;
    margin-top: 2rem;
  }
  .header-content{
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 596px){

  .content h1{
    font-size: 40px;
  }
  .header-content{
    margin-left: 5rem;
  }

  .line-about{
    font-size: 15px;

  }

  .button-about, .button-contact{
    width: 130px;
    height: 46px;
    font-size: 18px;

  }

  .custom-shape-divider-top-1690236305{
    
    margin-left: 5rem;
  }
  .custom-shape-divider-top-1690236305 img{
    width: 450px;
    height: 590px;
  }

}

@media screen and (max-width: 530px){
  .custom-shape-divider-top-1690236305 img{
    width: 350px;
    height: 490px;
  }

}

@media screen and (max-width: 474px){

  .content h1{
    font-size: 35px;
  }
  .header-content{
    margin-left: 3rem;
  }

  .line-about{
    font-size: 13px;

  }

  .button-about, .button-contact{
    width: 110px;
    height: 46px;
    font-size: 16px;

  }

  .custom-shape-divider-top-1690236305{
    margin-bottom: -4rem;
    margin-left: 3rem;
  }

  .photo-frame{
    width: 320px;
    height: 500px;
  }
  .photo-frame img {
    left: -19%;
    top: -19%;
    width: 430px;
    height: 720px;  
  }
  .logo-container {
    width: 40px; /* Tamanho da área para cada logomarca */
    height: 40px;
  }
  .icone{
    width: 30px;
    height: 30px;
  }
  .top-left {
    top: 20px;
    left: 40px;
  }
  
  .bottom-left {
    top: 100px;
    left: 20px;
  }
  
  .top-right {
    top: 20px;
    right: 80px;
  }
  
  .bottom-right {
    top: 90px;
    right: 30px;
  }
}

@media screen and (max-width: 396px){

  .custom-shape-divider-top-1690236305 img{
    width: 250px;
    height: 390px;
  }

  .content h1{
    font-size: 31px;
  }

  .line-about{
    font-size: 11px;

  }

  .button-about, .button-contact{
    width: 90px;
    height: 42px;
    font-size: 14px;

  }

  .custom-shape-divider-top-1690236305{
    margin-bottom: -9rem;
    margin-left: 2rem;
  }

  

}