
  .carousel {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
 
  }

  .conj-projects-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px 0px 0px 20px;
  }
  .title-projects{
    font-family: var(--font-family);
    font-size: 35px;
    font-weight: bold;
  }

  .bar-projects{
    width: 180px;
    height: 6px;
    background: linear-gradient(153deg, rgba(0,52,139,1) 0%, rgba(233,57,151,1) 100%);
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    margin-top: 0.5rem;
  }
  .inner {
    white-space: nowrap;
    transition: transform 0.5s;
    
  }
  
  .carousel-buttons {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2rem;
    background-color: white;
    
  }
  
  .button-arrow {
    background: none;
    border: none;
    cursor: pointer;
    

  }

  .left{
    margin-right: 50px;
  }

  .right{
    margin-left: 50px;
  }
  
  .indicators {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  
  .indicator-buttons {
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
  
  }
  
  .indicators > button {
    margin: 5px;
    background: none;
  }
  
  .indicator-symbol {
    color: #26343f;
  }
  
  .indicator-symbol-active {
    color: rgba(233,57,151,1);
  }

  @media screen and (max-width: 872px){
    .title-projects{
      font-size: 30px;
    }

    .bar-projects{
      width: 170px;
      height: 5px;
    }

    .button-arrow{
      width: 15px;
      height: 15px;
    }

    .material-symbols-outlined{
      width: 15px;
      height: 15px;
    }
    .left{
      margin-right: 40px;
    }
  
    .right{
      margin-left: 40px;
    }
  }

  @media screen and (max-width: 523px){
    .title-projects{
      font-size: 27px;
    }

    .bar-projects{
      width: 150px;
      height: 4px;
    }

    .button-arrow{
      width: 14px;
      height: 14px;
    }

    .material-symbols-outlined{
      width: 13px;
      height: 13px;
    }
    .left{
      margin-right: 35px;
    }
  
    .right{
      margin-left: 35px;
    }
  }

  @media screen and (max-width: 375px){
    .title-projects{
      font-size: 25px;
    }

    .bar-projects{
      width: 120px;
      height: 4px;
    }

    .button-arrow{
      width: 13px;
      height: 13px;
    }

    .material-symbols-outlined{
      width: 12px;
      height: 12px;
    }
    .left{
      margin-right: 20px;
    }
  
    .right{
      margin-left: 20px;
    }
  }
