.footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #0C1A36;
}

.footer-container img{
    width: 120px;
    height: 85px;
}

.footer-icons{
    display: flex;
    align-items: center;

}

.footer-icons a{
    margin-right: 2rem;
    margin-right: 2rem;

}

.icon-footer{
    color: white;
    width: 29px;
    height: 29px;

}

.footer-container span{
    font-family: var(--font-family);
    color: white;
    text-align: center;
}

@media screen and (max-width: 894px){
    .footer-container span{
        font-size: 15px;
    }
    .footer-icons{
        margin-left: 2rem;
    }

    
}

@media screen and (max-width: 579px){
    .footer-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-container img{
        margin-bottom: 2rem;
    }

    .footer-icons{
        margin-bottom: 2rem;
    }

    
}